# Fluent Bit Configuration for Organization: {{ org_name }}
# Organization ID: {{ org_id }}
# Generated: {{ generated_at }}

[SERVICE]
    Flush        1
    Daemon       off
    Log_Level    info

    Parsers_File parser.conf

    HTTP_Server  On
    HTTP_Listen  0.0.0.0
    HTTP_Port    {{ http_port | default(2020) }}


@INCLUDE inputs.conf
@INCLUDE outputs.conf
